* {
  box-sizing: border-box;
}
body {
  background-color: #292929;
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
}

h1,
h2,
p {
  color: white;
  font-family: roboto;
}

nav {
  display: flex;
  flex-direction: column;
  background-color: black;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  height: min-content;
  gap: 1rem;
}
