---
---

<nav>
  <div class="navwrapper">
    <div>
      <a href="/"> <img class="logo" src="../icons/logo.svg" alt="" /></a>
    </div>
    <div class="gap">
      <img src="../icons/home-filled.svg" alt="" /><a href="/#">Hjem</a>
    </div>
    <div>
      <img src="../icons/search-icon.svg" alt="" /><a href="/search">Søg</a>
    </div>
    <div>
      <img src="../icons/library-icon.svg" alt="" /><a href="/#"
        >Dit Bibliotek</a
      >
    </div>
    <div class="gap">
      <img src="../icons/create-icon.svg" alt="" /><a href="/#"
        >Opret playliste</a
      >
    </div>
    <div>
      <img src="../icons/heart-icon.svg" alt="" /><a href="/#"
        >Sange, du synes godt..</a
      >
    </div>
  </div>
</nav>

<style>
  .navwrapper {
    position: fixed;
  }
  a {
    margin-left: 10px;
    text-decoration: none;
  }
  a:link {
    color: grey;
  }
  a:hover {
    color: white;
  }
  a:visited {
    color: white;
  }

  .logo {
    filter: invert(100%);
    width: 130px;
    height: 50px;
  }

  img {
    width: 30px;
    height: 30px;
    filter: invert(80%);
  }

  nav {
    height: 100%; /* Sets the height to 100% to fill the entire height of the browser window */

    background-color: black; /* Sets the background color to a light gray */
    padding: 20px; /* Adds some padding inside the nav bar */
    box-sizing: border-box; /* Includes padding and border in the nav bar width and height */
    gap: 10px;
  }

  .gap {
    margin-top: 30px;
  }
</style>
